html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.horizontalBar{
  z-index: 99;
  position: relative;
  display: flex;
  background-color: cadetblue;
  color: white;
}

.horizontalBar *{
  padding: 4px 8px;
}

.aa-menuBG{
  z-index: 97;
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.aa-dropDownMenu{
  cursor: pointer;
}
.aa-dropDownContent{
  display: none;
  z-index: 98;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #FFF;
  border: 2px solid #EEE;
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.aa-dropDown-item{
  
}

.aa-dropDown-item:hover{
  background-color: #EEE;
}

.aa-dropDown-show{ display: flex; }
.aa-dropDown-hide{ display: none; }